/* 
========================================================================
ACCORDION
======================================================================== 
*/

.accordion{
  .card{
    .card__inner{
      border-top: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      padding-top: 0px;
      position: relative;
      @include bp-medium {
        border: none;
        padding-top: 36px;
      }
      h3, h1{
        padding: 30px 30px;
        cursor: pointer;
        .accordion__open{
          position: absolute;
          right: 0;
          top: 0;
          width: 79px;
          font-family: $font-display;
          text-align: center;
          font-size: 50px;
          height: 100%;
          display: inline-block;
          &::after{
            content: "-";
          }
          @include bp-medium {
            display: none;
          }
        }
        &[aria-expanded^="false"]{
          .accordion__open{
            &::after{
              content: "+";
            }
          }
        }
      }
      h1{
        font-size: 1rem;
        font-family: $font-body;
        text-transform: uppercase;
        font-weight: 800;
        text-align: left;
        @include bp-medium {
          font-family: $font-display;
          font-size: 3.8rem;
          text-transform: none;
          font-weight: 100;
        } 
        @include bp-large {
          text-align: right;
          padding: 0 30px;
        }     
      }
      p{
        padding: 10px 30px 30px;
        margin-bottom: 0;
      }
    }
    &:last-child{
      .card__inner{
        border-bottom: 1px solid;
        @include bp-medium {
          border: none;
        }
      }
    }
  }
  &.accordion--dark{
    .card{
      .card__inner{
        border-color: $color-yellow;
        h3, h1{
          background-color: $color-yellow;
          color: $color-blue;
          &[aria-expanded^="false"]{
            background-color: transparent;
            color: $color-yellow;
            &:hover{
              color: $color-fuxia;
            }
          }
          @include bp-medium {
            background-color: $color-blue;
            color: $color-yellow;
            &[aria-expanded^="false"]{
              &:hover{
                color: $color-yellow;
              }
            }
          }
        }
        p{
          background-color: $color-yellow;
          color: $color-blue;
          @include bp-medium {
            background-color: transparent;
            color: $color-yellow;
          }
        }
      }
      &:last-child{
        .card__inner{
          border-color: $color-yellow;
        }
      }
    }
  }
  &.accordion--light{
    .card{
      .card__inner{
        border-color: $color-blue;
        h3, h1{
          background-color: $color-blue;
          color: $color-white;
          &[aria-expanded^="false"]{
            background-color: transparent;
            color: $color-blue;
            &:hover{
              color: $color-fuxia;
            }
          }
          @include bp-medium {
            background-color: $color-white;
            color: $color-blue;
            &[aria-expanded^="false"]{
              &:hover{
                color: $color-blue;
              }
            }
          }
        }
        p{
          background-color: $color-blue;
          color: $color-white;
          @include bp-medium {
            background-color: transparent;
            color: $color-blue;
          }
        }
      }
      &:last-child{
        .card__inner{
          border-color: $color-blue;
        }
      }
    }
  }
}